body {
    text-align: center;
    font-size: 16px;
}

.panel {
    width: 100%;
    display: inline;
}

.range-result {
    width: 30px;
    display: inline-block;
}

.row {
    /*float: right;*/
    display: block;
    width: 60%;
}

#pyramid {
    font-family: "Courier New", monospace;
    line-height: 0;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: right;
    right: 50px;
}

.cube-block {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: darkred;
    margin: 2px;
}

input#range {
    width: 100px;
}

label {
    margin-left: 10px;
}

button, input, select {
    cursor: pointer;
}